<%unless @emails.blank?%>
	<% @emails.each do |mail| %>
	    <br />
	    <span class="badge badge-info rules" style="cursor:pointer" shw="email_<%=mail.id%>">Emails</span>
		<div id="email_<%=mail.id%>" class="rules_show" style="margin-left: 20px">
			
			<div class="control-group string_type name_field">
			  	<label class="control-label">Nome do Email</label>
				<div class="controls">
				   <pre class="prettyprint"><%= mail.email.title%></pre>
			  	</div>
		  	</div>
		  	<div class="control-group string_type name_field">
			  	<label class="control-label">Para</label>
				<div class="controls">
				   <pre class="prettyprint"><%= mail.email.to %></pre>
			  	</div>
		  	</div>
		  	<%unless mail.email.cc.nil?%>
			  	<div class="control-group string_type name_field">
				  	<label class="control-label">Copia</label>
					<div class="controls">
					   <pre class="prettyprint"><%= mail.email.cc %></pre>
				  	</div>
			  	</div>
			<%end%>
		</div>
	<%end%>
<br />
<ul class="nav nav-tabs" style="margin-top: 10px">
	<li class="icon index_collection_link " rel="" title="">
	</li>
</ul>
<%end%>
