<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @payment.name %>
</p>

<p>
  <b>Status:</b>
  <%= @payment.status %>
</p>

<p>
  <b>Imagem:</b>
  <%= @payment.imagem %>
</p>

<p>
  <b>Codigo integracao:</b>
  <%= @payment.codigo_integracao %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
