<h1>Listing rules</h1>

<table>
  <tr>
    <th>Field references</th>
    <th>Field comparation</th>
    <th>Value comparation</th>
    <th>Operator</th>
    <th>Workflow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rules.each do |rule| %>
  <tr>
    <td><%= rule.field_references %></td>
    <td><%= rule.field_comparation %></td>
    <td><%= rule.value_comparation %></td>
    <td><%= rule.operator %></td>
    <td><%= rule.workflow %></td>
    <td><%= link_to 'Show', rule %></td>
    <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
    <td><%= link_to 'Destroy', rule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rule', new_rule_path %>
